In [72]:
import pandas as pd

In [73]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
data = pd.read_csv('D:\csv\\experiment new.csv')
print(data)

<>:1: SyntaxWarning: invalid escape sequence '\c'
<>:1: SyntaxWarning: invalid escape sequence '\c'
C:\Users\ankur\AppData\Local\Temp\ipykernel_14352\3526457084.py:1: SyntaxWarning: invalid escape sequence '\c'
  data = pd.read_csv('D:\csv\\experiment new.csv')

            id    qid1    qid2  \
0            0       1       2
1            1       3       4
2            2       5       6
3            3       7       8
4            4       9      10
...        ...     ...     ...
404285  404285  433578  379845
404286  404286   18840  155606
404287  404287  537928  537929
404288  404288  537930  537931
404289  404289  537932  537933

                                                question1  \
0       What is the step by step guide to invest in sh...
1       What is the story of Kohinoor (Koh-i-Noor) Dia...
2       How can I increase the speed of my internet co...
3       Why am I mentally very lonely? How can I solve...
4       Which one dissolve in water quikly sugar, salt...
...                                                   ...
404285  How many keywords are there in the Racket prog...
404286          Do you believe there is life after death?
404287                                  What is one coin?
404288  What is the approx annual cost of living while...
404289              What is like to have sex with cousin?

                                                question2  is_duplicate
0       What is the step by step guide to invest in sh...             0
1       What would happen if the Indian government sto...             0
2       How can Internet speed be increased by hacking...             0
3       Find the remainder when [math]23^{24}[/math] i...             0
4                 Which fish would survive in salt water?             0
...                                                   ...           ...
404285  How many keywords are there in PERL Programmin...             0
404286         Is it true that there is life after death?             1
404287                                  What's this coin?             0
404288  I am having little hairfall problem but I want...             0
404289      What is it like to have sex with your cousin?             0

[404290 rows x 6 columns]

In [75]:
df = pd.read_csv('experiment new.csv')
df.shape

(404290, 6)

In [76]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404289 non-null  object
 4   question2     404288 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [78]:
df.sample(10)

,id,qid1,qid2,question1,question2,is_duplicate
176027,176027,270929,270930,If my gravity reversed polarity and a object t...,Would you pay to hike in a private commercial ...,0
131915,131915,22137,19587,Should we report Quorans who spout crackpot Ph...,"In a simple and more general language, what is...",0
338443,338443,104567,116988,Now that Trump has won and Republicans control...,What will happen now that President-elect Dona...,1
302176,302176,153808,122312,How do I can boost my self confidence?,How can I improve my confidence?,1
150949,150949,237453,237454,Which is the best moisturizing lipstick?,What are some good hypo-allergenic lipsticks?,0
166439,166439,45931,24462,How can I get a girlfriend easily?,What are some ways to get a girlfriend?,1
191214,191214,290489,290490,Can I sit for placement with CSE/IT students b...,Can I use C++ for web development? If yes wher...,0
285922,285922,406419,406420,How can I extract area data Google maps?,How can I extract area data from Google Maps?,1
282935,282935,46447,46466,How do I know know whether my gf is cheating m...,How will you know if your partner was or still...,1
403237,403237,536808,536809,What different kinds of media make up the press?,Can I make my own press pass?,0

In [79]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [80]:
df.duplicated().sum()

0

In [81]:
print(df['is_duplicate'].value_counts())

is_duplicate
0    255027
1    149263
Name: count, dtype: int64

In [82]:
#check how many duplicate and non-duplicate questions.
print(df['is_duplicate'].value_counts())
print((df['is_duplicate'].value_counts()/df['is_duplicate'].count())*100)

is_duplicate
0    255027
1    149263
Name: count, dtype: int64
is_duplicate
0    63.080215
1    36.919785
Name: count, dtype: float64

In [83]:
#calculating total reapitimg questions??

qid = pd.Series(df['qid1'].tolist() + df['qid2'].tolist())
print('Number of unique questions',(qid).shape[0])
x = qid.value_counts()>1
print('Number of questions getting repeated',x[x].shape[0])

Number of unique questions 808580
Number of questions getting repeated 111780

In [84]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [85]:
df = df.sample(20000)

In [86]:
df.isnull().

SyntaxError: invalid syntax (2374418666.py, line 1)

In [ ]:
df.duplicated().sum()

In [ ]:
#creating new dataframe for only question1 and question2..
ques_df = df[['question1','question2']]
ques_df.head()

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
#Making list of  questions with 20000 data sample.
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
#splitting the question into two parts each part is of 20000 questions.
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [ ]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

In [ ]:
temp_df

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

In [ ]:
temp_df['is_duplicate'] = df['is_duplicate']

In [ ]:
temp_df.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)